<!DOCTYPE html>

<html data-ng-app="TodoApp" lang="en">
<head>
  <title>Todo</title>
  <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div data-ng-init='init({{ urls|tojson|safe }})' data-ng-controller="appController">

	<input type="text" size="3" name="id" value="" data-ng-model="get_id" placeholder="ID"/>
	<button ng-click="get_by_id(get_id)">Fetch by ID</button>
	
	
	<table border="1" cellspacing="0">
		<thead>
			<tr>
				<th>name</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="i in item">
				<td>[[i.name]]</td>
				<td data-ng-if="i.mutable"><input type="text" value="[[i.value]]"/></td>
				<td data-ng-if="i.mutable == false">[[i.value]]</td>
			</tr>
		</tbody>
	</table>
	
	<hr/>
	<form class="form-inline">
		<div class="form-group">
			<label for="searchName">Name</label>
			<input type="text" id="searchName" data-ng-model="searchName" placeholder="Search">
			<button ng-click="get_all();">GET</button>
		</div>
	</form>

	<table border="1" cellspacing="0">
		<thead>
			<tr>
				<th>id</th>
				<th>label</th>
				<th>source</th>
				<th>target</th>
				<th>bgcol</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in items.elements | orderBy: 'item.data.id' | filter: searchName">
				<td>[[item.data.id]]</td>
				<td>[[item.data.label]]</td>
				<td>[[item.data.source]]</td>
				<td>[[item.data.target]]</td>
				<td>[[item.data.bgcol]]</td>
			</tr>
		</tbody>
	</table>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='todoapp.js') }}"></script>

</body>
</html>

