<!DOCTYPE html>

<html data-ng-app="TodoApp" lang="en">
<head>
  <title>Todo</title>
  <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div data-ng-controller="appController">


	<form class="form-inline">
		<div class="form-group">
			<label for="searchName">Name</label>
			<input type="text" id="searchName" data-ng-model="searchName" class="form-control" placeholder="Search">
		</div>
	</form>

	<ul>
		{% raw %}
		<li data-ng-repeat="item in items | orderBy: 'name' | filter: searchName">{{item.name}} / {{item.location}}</li>
		{% endraw %}
	</ul>


</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='todoapp.js') }}"></script>

</body>
</html>

