<!DOCTYPE html>

<html data-ng-app="TodoApp" lang="en">
<head>
  <title>Todo</title>
  <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" type="text/css" />
  <script type="appliaction/javascript">
  var url_getcy = "{{ url_for('get_cy') }}";
  </script>
</head>
<body>

<div data-ng-controller="appController">


	<form class="form-inline">
		<div class="form-group">
			<label for="searchName">Name</label>
			<input type="text" id="searchName" data-ng-model="searchName" class="form-control" placeholder="Search">
			<button ng-click="get_all();">GET</button>
		</div>
	</form>

	<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>label</th>
				<th>source</th>
				<th>target</th>
				<th>bgcol</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in items.elements | orderBy: 'item.data.id' | filter: searchName">
				<td>[[item.data.id]]</td>
				<td>[[item.data.label]]</td>
				<td>[[item.data.source]]</td>
				<td>[[item.data.target]]</td>
				<td>[[item.data.bgcol]]</td>
			</tr>
		</tbody>
	</table>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='todoapp.js') }}"></script>

</body>
</html>

