<!doctype html>
<html>
<head>
  <title>Network | Basic usage</title>
	
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/cytoscape/dist/cytoscape.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/cytoscape-cxtmenu/cytoscape-cxtmenu.js') }}"></script>
  <!--link href="{{ url_for('static', filename='lib/vis/dist/vis.css') }}" rel="stylesheet" type="text/css" /-->

  <style type="text/css">
  	html, body {height: 100%;}
  	body {
  		padding: 0; 
  		border: 0; 
  		margin: 0;
  	}
  	
  	#upper {}
  	
    #lower {
    	display: block;
    }
    
    .halfheight {
  		padding: 0; 
  		border: 0; 
  		margin: 0;
  		
      width: 100%;
      height: 50%;
      border: 0px solid lightgray;
      
      overflow: auto;
    }
  </style>
  <script type="application/javascript">
  	
  	var todo = {
			add_event: function(html_element, event_name, event_function) {
				if (html_element.addEventListener) { // Modern
					html_element.addEventListener(event_name, event_function, false);
				} else if (html_element.attachEvent) { // Internet Explorer
					html_element.attachEvent("on" + event_name, event_function);
				} else { // others
					html_element["on" + event_name] = event_function;
				}
			},
			
			json_get: function(path, callback) {
				var request = new XMLHttpRequest();
				request.onreadystatechange = function() {
					/*
					if(request.readyState === 4) {
						//bio.style.border = '1px solid #e8e8e8';
						if(request.status === 200) {
							//var data = JSON.parse(request.responseText);
							//console.log(data);
							callback(request);
							return true;
						} else {
							console.log('An error occurred during your request: ' + request.status + ' ' + request.statusText);
						} 
					} */
					callback(request);
				}
				
				request.open('GET', path);
				request.send();
			}
		}
		
		function init_graph(todo_data) {
			console.log(todo_data.elements)
			// -- initialize cytoscape --
			var cy = cytoscape({
				container: document.getElementById('lower'), // container to render in
				
				/*
				elements: [ // list of graph elements to start with
					{ data: { id: 'a', label: "aaaa" }},
					{ data: { id: 'b' }},
					{ data: { id: 'ab', source: 'a', target: 'b' }} // edge ab 
				],
				*/
				
				elements: todo_data.elements,
				
				style: [ // the stylesheet for the graph
					{
						selector: 'node',
						style: {
							'background-color': function( ele ){
								if (ele.data('bgcol'))
									return ele.data('bgcol')
								return "#DDD"
							},
							'label': 'data(label)'
						}
					},

					{
						selector: 'edge',
						style: {
							'width': 3,
							'line-color': '#ccc',
							'target-arrow-color': '#ccc',
							'target-arrow-shape': 'triangle',
							'curve-style': 'unbundled-bezier',
							'opacity': 0.666,
							'width': 'mapData(strength, 70, 100, 2, 6)',
						}
					}
				],
				
				layout: {
					name: 'cose',
					padding: 10,
					randomize: true,
					//roots: '#1'
				}
			});
		
			// -- initialize the context menu --
			// the default values of each option are outlined below:
			var defaults = {
				menuRadius: 100, // the radius of the circular menu in pixels
				selector: 'node', // elements matching this Cytoscape.js selector will trigger cxtmenus
				commands: [ // an array of commands to list in the menu or a function that returns the array
					{ // example command
						fillColor: 'rgba(200, 200, 200, 0.75)', // optional: custom background color for item
						content: 'Add', // html/text content to be displayed in the menu
						select: function(ele){ // a function to execute when the command is selected
							console.log( "add: " + ele.id() ) // `ele` holds the reference to the active element
						},
						disabled: false // disables the item on true
					}, 
					{ // example command
						fillColor: 'rgba(200, 200, 200, 0.75)', // optional: custom background color for item
						content: 'Edit', // html/text content to be displayed in the menu
						select: function(ele){ // a function to execute when the command is selected
							console.log( "edit: " + ele.id() ) // `ele` holds the reference to the active element
						},
						disabled: false // disables the item on true
					}, 
					{ // example command
						fillColor: 'rgba(200, 200, 200, 0.75)', // optional: custom background color for item
						content: 'Delete', // html/text content to be displayed in the menu
						select: function(ele){ // a function to execute when the command is selected
							console.log( "delete: " + ele.id() ) // `ele` holds the reference to the active element
						},
						disabled: false // disables the item on true
					}, 
				], // function( ele ){ return [ /*...*/ ] }, // example function for commands
				fillColor: 'rgba(0, 0, 0, 0.75)', // the background colour of the menu
				activeFillColor: 'rgba(92, 194, 237, 0.75)', // the colour used to indicate the selected command
				activePadding: 20, // additional size in pixels for the active command
				indicatorSize: 24, // the size in pixels of the pointer to the active command
				separatorWidth: 3, // the empty spacing in pixels between successive commands
				spotlightPadding: 4, // extra spacing in pixels between the element and the spotlight
				minSpotlightRadius: 24, // the minimum radius in pixels of the spotlight
				maxSpotlightRadius: 38, // the maximum radius in pixels of the spotlight
				openMenuEvents: 'cxttapstart', // cytoscape events that will open the menu (space separated)
				itemColor: 'white', // the colour of text in the command's content
				itemTextShadowColor: 'black', // the text shadow colour of the command's content
				zIndex: 9999, // the z-index of the ui div
				atMouse: false // draw menu at mouse position
			};
			
			var cxtmenuApi = cy.cxtmenu(defaults);
		}
		
		todo.data = null;
		function init() {
			function req_handler(request) {
				if(request.readyState === 4) {
					if (request.status === 200) {
						todo.data = JSON.parse(request.responseText);
						//console.log(todo.data)
						init_graph(todo.data);
					} else {
						// FIXME: handle http errors
						console.log('An error occurred during your request: ' + request.status + ' ' + request.statusText);
					}
				}
			}
			todo.json_get("/_/get/cy", req_handler);
		}

		todo.add_event(window, "load", init);
  </script>

</head>
<body>

<div id="upper" class="halfheight"></div>
<div id="lower" class="halfheight"></div>


</body>
</html>

