<!doctype html>
<html>
<head>
  <title>Network | Basic usage</title>
	
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/cytoscape/dist/cytoscape.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/cytoscape-cxtmenu/cytoscape-cxtmenu.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="upper" class="halfheight"></div>
<div id="lower" class="halfheight"></div>


</body>
</html>

